<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

  <!-- Sidebar mobile toggler -->
  <div class="sidebar-mobile-toggler text-center">
    <a (click)="sidebarSmCollapse()" href="javascript:void(0)" class="sidebar-mobile-main-toggle">
      <i class="icon-arrow-left8"></i> Navigation
    </a>

    <!-- <a href="javascript:void(0)" class="sidebar-mobile-expand">
      <i class="icon-screen-full"></i>
      <i class="icon-screen-normal"></i>
    </a> -->
  </div>
  <!-- /sidebar mobile toggler -->


  <!-- Sidebar content -->
  <div class="sidebar-content">

    <!-- Main navigation -->
    <div class="card card-sidebar-mobile">
      <ul *ngIf="!isAdmin" class="nav nav-sidebar" data-nav-type="accordion">


        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/home']" routerLinkActive="active"
            routerLinkActive="active">
            <i class="icon-home4"></i>
            <span>
              Dashboard
            </span>
          </a>
        </li>


        <li class="nav-item">
          <a [routerLink]="['/tickets']" routerLinkActive="active" class="nav-link">
            <i class="icon-ticket"></i>
            <span>My Tickets</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/event']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-calendar3"></i> <span>Event Calendar</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/marketplace']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-cart5"></i>
            <span>Ticket Marketplace</span>
            <!-- <span class="badge bg-blue-400 align-self-center ml-auto">2.3</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/personalization']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-pencil7"></i> <span>Ticket Personalization</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/gift']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-gift"></i>
            <span>Gift Cards</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/support']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-envelope"></i> <span>Support</span></a>
        </li>
        <!-- /main -->

      </ul>
      <ul *ngIf="isAdmin" class="nav nav-sidebar" data-nav-type="accordion">


        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link" [routerLink]="['/admin/dashboard']" routerLinkActive="active">
            <i class="icon-home4"></i>
            <span>
              Dashboard
            </span>
          </a>
        </li>


        <li class="nav-item">
          <a [routerLink]="['/admin/tickets']" routerLinkActive="active" class="nav-link">
            <i class="icon-ticket"></i>
            <span>Tickets</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/users']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-calendar3"></i> <span>Users</span></a>
        </li>
        <li class="nav-item">
          <a  [routerLink]="['/admin/organizer']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-cart5"></i>
            <span>Organizers</span>
            <!-- <span class="badge bg-blue-400 align-self-center ml-auto">2.3</span> -->
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/invoice']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-pencil7"></i> <span>Invoicing</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/getmati']"  routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-gift"></i>
            <span>GetMati</span>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/qcrm']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-envelope"></i> <span>QCRM</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin/settings']" routerLinkActive="active" href="javascript:void(0)" class="nav-link">
            <i class="icon-envelope"></i> <span>Settings</span></a>
        </li>
        <!-- /main -->

      </ul>
    </div>
    <!-- /main navigation -->

  </div>
  <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
