<div class="card border-0 shadow-none">

  <div class="card-body p-md-5">
    <div class="row">
      <div class="col-lg-3">
        <ul ngbNav #nav="ngbNav" class="nav-tabs custom-nav" orientation="vertical">
          <li ngbNavItem="top" class="d-none d-md-block">
            <a ngbNavLink class="text-left">
              <img src="../../../assets/images/stripe.png" alt="" height="35">
            </a>
            <ng-template ngbNavContent>
              <div class="row justify-content-center">
                <div class="col-lg-10 mb-3">
                  <h3 class="text-center d-md-none"><img src="../../../assets/images/stripe.png" alt="" height="35"></h3>
                  <div class="media">
                    <h4 class="mr-2 text-blue-400"><i class="icon-info22"></i></h4>
                    <div class="media-body">
                      <h4 class="text-blue-400">
                        
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9 mb-3 text-center">
                  <!-- <img src="../../../assets/images/stripe.png" alt=""> -->
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="col-lg-8 mb-2">
                    <input type="email" class="form-control" placeholder="{{'account.linked-account.placeholder.enterPayPalEmail' | translate}}" formControlName="email">
                    <errors [control]="f.email" [isSubmit]="isSubmit"></errors>
                  </div>
                  <div class="col-lg-8 text-center mb-3">
                    <h5 class="text-blue-400 ">&nbsp;&nbsp;<u><a
                          href="https://www.paypal.com/at/webapps/mpp/account-selection" target="_blank"> </a></u> </h5>
                  </div>
                  <div class="col-lg-9 mb-3 text-center">
                    <button type="submit" class="btn bg-blue-400"></button>
                  </div>
              </form>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div [ngbNavOutlet]="nav" class=""></div>
      </div>
    </div>
  </div>
</div>
