
/* preloader */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 50vh; /* Full height (cover the whole page) */
  background-color: rgba(0, 0, 0, 0.007); /* Black background with opacity */
  z-index: 2;
  }
  .main-circle {
    width: 150px;
    height: 150px;
    border:4px solid rgb(9, 161, 206);
    border-top: 4px solid transparent  ;
      border-right:4px solid transparent;
    position:relative;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s infinite;
  }
  .green-circle {
      animation: rotate 2s infinite .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border:4px solid rgb(9, 161, 206);
      border-top:4px solid transparent;
    border-right:4px solid transparent;
    transform: rotate(-20deg);
    border-radius:50%;
    position:relative;
  }
  .brown-circle {
        animation: rotate 2s infinite .6s;
      width: 80px;
    height: 80px;
    border:4px solid rgb(9, 161, 206);
      border-top:4px solid transparent;
    border-right:4px solid transparent;
    transform: rotate(-20deg);
    border-radius:50%;
  }

  @keyframes rotate {
    from {}
    to {
      transform: rotate(360deg);
    }
  }
  