
<div class="modal-body px-md-4">
    <div class="text-center mt-4">
        <h6 class="font-weight-bold mb-0 h3">Please choose the ID document you will use for the verifcation process</h6>
    </div>
    <div class="row my-5">
            <div class="text-center font-weight-bold mb-0 h3">Verifcation failed</div>
        <div class="col-lg-4">
            <div class="text-center font-weight-bold mb-0 h3">Driver's License</div>
            <img class="img-fluid" src="../../../assets/images/Five death.PNG" alt="">
        </div>
    </div>
</div>