@media only screen and (max-width:1200px){
  .col-lg-5{
    flex: 0 0 41.66667% !important;
    max-width: 41.66667% !important;
  }
  .col-lg-1{
    flex: 0 0 15.33333% !important;
    max-width: 15.33333% !important;
  }
}
@media only screen and (max-width:1200px){
  .col-sm{
    flex: 0 0 100%!important;
    max-width: 100%!important;
  }
  .col-lg-5{
    flex: 0 0 80% !important;
    max-width: 80% !important;
    padding-left: 0 !important;
  }
  .col-sm-1{
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}