<div class="bg-img">
  <div class="main-div">
    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <div class="logo-lang">
          <div class="pom"></div>
          <div class="logo-fansafe justify-content-center text-center pt-3">
            <img src="../../../assets/images/FanSafe-Logo.png" height="60" alt="">
          </div>
          <!-- Localisation-->
          
          <app-localisation class='localisation'></app-localisation>
          
        </div>
        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">

          <!-- Login card -->
          <form class="login-form form-validate" action="index.html" novalidate="novalidate" [formGroup]="form" (ngSubmit)="onSubmit()" >
            <div class="card mb-0 card-opacity">
              <div class="card-body">
                <div class="text-center mb-2">
                  <i
                    class="icon-reading icon-2x text-blue-400 border-blue-400 border-3 rounded-round p-3 mb-2 mt-1"></i>
                  <h5 class="text-dark">{{ 'login.title' | translate }}</h5>
                  <span class="d-block text-muted">{{ 'login.subtitle' | translate }}</span>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                  <input  type="text" class="form-control" name="username"  formControlName="username" placeholder="{{ 'login.usernameOrEmail' | translate }}" required="">
                  <div class="form-control-feedback">
                    <i class="icon-user text-muted"></i>
                  </div>
                   <errors [control]="f.username" [isSubmit]="isSubmit"></errors>
                </div>

                <div class="form-group form-group-feedback form-group-feedback-left">
                  <input  type="password" class="form-control" name="password" formControlName="password" placeholder="{{ 'login.password'| translate }}" required="">
                  <div class="form-control-feedback">
                    <i class="icon-lock2 text-muted"></i>
                  </div>
                   <errors [control]="f.password" [isSubmit]="isSubmit"></errors>
                </div>

                <div class="form-group d-flex align-items-center">
                  <!-- <div class="custom-control custom-checkbox mb-0">
                    <input type="checkbox" class="custom-control-input" id="custom_checkbox_stacked_unchecked"
                      [checked]="remember" (change)="remember = !remember">
                    <label class="custom-control-label text-dark"
                      for="custom_checkbox_stacked_unchecked">{{ 'login.remember' | translate }}</label>
                  </div> -->

                  <a routerLink='/auth/forgotpassword' class="ml-auto">{{ 'login.forgotPassword' | translate}}</a>
                </div>

                <div class="form-group">
                  <button type="submit" (click)="authenticate()" class="btn bg-blue-400 btn-block">{{ 'login.login' | translate }}
                    <i class="icon-circle-right2 ml-2"></i></button>
                </div>

                <div class="form-group text-center text-muted content-divider">
                  <span class="px-2">{{ 'login.account' | translate }}</span>
                </div>

                <div class="form-group">
                  <a routerLink='/auth/signup' class="btn btn-light dark btn-block border text-dark">{{ 'login.register' | translate }}</a>
                </div>

                <span class="form-text text-center text-muted">{{ 'login.agreement' | translate}}
                  <a href="javascript:void(0)" (click)="open(terms)">{{ 'login.termsOfServices' | translate}}</a> {{ 'login.and' | translate}}
                  <a href="javascript:void(0)" (click)="open(policy)">{{ 'login.privacyPolicy' | translate }}</a> {{ 'login.agreementSuffix' | translate}}
                </span>

              </div>
            </div>
          </form>
          <!-- /login card -->

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->
  </div>


</div>

<ng-template #terms let-modal p>
	<div id="modal_scrollable" class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header pb-3">
					<h5 class="modal-title">{{ 'login.termsTitle' | translate }}</h5>
					<button type="button" (click)="modal.dismiss('Cross click')" class="close"
						data-dismiss="modal">×</button>
				</div>

				<div class="modal-body py-0">
					<p>{{ 'login.terms' | translate }}</p>
				</div>

				<div class="modal-footer pt-3">
					<button type="button" class="btn bg-primary" (click)="modal.close('Save click')">{{ 'login.accept' | translate }}</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #policy let-modal p>
	<div id="modal_scrollable" class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header pb-3">
					<h5 class="modal-title">{{ 'login.privacyPolicyTitle' | translate }}</h5>
					<button type="button" (click)="modal.dismiss('Cross click')" class="close"
						data-dismiss="modal">×</button>
				</div>

				<div class="modal-body py-0">
					<p>{{ 'login.policy' | translate }}</p>
				</div>

				<div class="modal-footer pt-3">
					<button type="button" class="btn bg-primary" (click)="modal.close('Save click')">{{ 'login.accept' | translate }}</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>

<!-- (click)="open1(content1)" -->

<ng-template #content1 let-modal p>
  <div class="modal-header bg-blue justify-content-center">
    <h3 class="modal-title m-0"><i class="fas fa-exclamation-circle fa-lg"></i> {{ 'login.somethingWentWrong' | translate}}</h3>
  </div>
  <div class="modal-body justify-content-center  text-center px-md-4">
    <span class="font-weight-semibold">{{ 'login.somethingWentWrongMessage1' | translate}} </span><br>
   <span  class="font-weight-semibold">{{ 'login.somethingWentWrongMessage2' | translate}}</span><br>
   <span  class="font-weight-semibold">{{ 'login.somethingWentWrongMessage3' | translate}}</span>
   <h6 class="text-blue-400">{{ 'login.email' | translate}}: support@fansafe.at</h6>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">{{ 'login.close' | translate}}</button>
  </div>
</ng-template>
