
<div class="modal-body px-md-4">
    <div class="text-center mt-4">
        <h6 class="font-weight-bold mb-0 h3">Please choose the ID document you will use for the verifcation process</h6>
    </div>
    <div class="row my-5">
        <div class="col-lg-4" [ngClass]="{'border border-success' : selectedId === 1}">
            <img class="img-fluid" src="../../../assets/images/Five death.PNG" alt="" (click)="selectedId = 1; logId()">
            <div class="text-center font-weight-bold mb-0 h3">Passport</div>
        </div>
        <div class="col-lg-4" [ngClass]="{'border border-success' : selectedId === 2}">
            <img class="img-fluid" src="../../../assets/images/Five death.PNG" alt="" (click)="selectedId = 2; logId()">
            <div class="text-center font-weight-bold mb-0 h3">Driver's License</div>
        </div>
        <div class="col-lg-4" [ngClass]="{'border border-success' : selectedId === 3}">
            <img class="img-fluid" src="../../../assets/images/Five death.PNG" alt="" (click)="selectedId = 3; logId()">
            <div class="text-center font-weight-bold mb-0 h3">Personal ID Card</div>
        </div>
    </div>
</div>