<div class="card border-0 shadow-none">
  <div class="card-header bt-transparent">
    <div class="row justify-content-center my-3">
      <div class="col-lg-12 text-center">
        <a routerLink='/profile/create' class="btn bg-blue-400">{{'profile.linked.linked-empty.labels.title' | translate}}</a>
      </div>
      <div class="col-lg-12">
        <hr>
      </div>
      <div class="col-lg-10">
        <div class="card-body my-md-4">
          <div class="card-body shadow">
            <div class="media text-md-left text-center d-md-flex d-inline-block">
              <img src="../../../../assets/images/person.PNG" class="align-self-md-center mr-3" alt="...">
              <div class="media-body p-md-4">
                <h6 class="text-center text-blue-400">{{'profile.linked.linked-empty.text.notice1' | translate}}
                </h6>
                <h6 class="mb-0 text-blue-400 text-center">{{'profile.linked.linked-empty.text.notice2' | translate}}
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
