<div class="container-fluid">
  <ul ngbNav #nav="ngbNav" class="nav-tabs nav nav-justified" [destroyOnHide]="false">
    <li [ngbNavItem]="1">
      <a ngbNavLink>
        <h3 class="mb-0 font-weight-normal">{{'tickets.layout.labels.upcomingEvents' | translate}}</h3>
      </a>
      <ng-template ngbNavContent>
        <div class="card border-0">
          <div class="card-body">
            <app-upcoming></app-upcoming>

          </div>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>
        <h3 class="mb-0 font-weight-normal">{{'tickets.layout.labels.visitedEvents' | translate}}</h3>
      </a>
      <ng-template ngbNavContent>
        <div class="card border-0">
          <div class="card-body">
            <app-visited></app-visited>

          </div>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
</div>
