<div class="container p-sm-00">
  <div class="row mb-3 mt-md-4">
    <div class="col-md-12 text-right">
      <div class="d-md-none">
        <button class="navbar-toggler border-0" (click)="isTreeCollapsed = !isTreeCollapsed"
          [attr.aria-expanded]="!isTreeCollapsed">
          <span class="font-weight-semibold"> Filters &nbsp; </span>
          <i class="fas fa-bars"></i>
        </button>
      </div>

        <div class="filter-show" [ngbCollapse]="isTreeCollapsed">
          <div class="row text-left">
            <div class="col-lg-4 w-md-100 mb-15">
              <date-range-picker (rangeSelected)='onDateRangeSelected()' [instanceId]="'secondDateRange'" [controlName]="'secondDateRange'" #dateRangePicker #dateRangePicker [options]="dateOptions" (rangeSelected)="getFromToDate(dateRangePicker.range); getUpcomingTickets()">
                <div class="form-group">
                  <label class="text-blue-4000 font-weight-bold" for="">From - To
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="date-range-icon">
                        <i class="icon-calendar22"></i>
                      </span>
                    </div>
                    <input id="secondDateRange" class="form-control" type="text" name="dateRange"
                      [value]="dateRangePicker.range" placeholder="From - To"/>
                  </div>
                </div>
              </date-range-picker>
            </div>
            <div class="col-lg-4 w-md-100 mb-15">
              <label class="text-blue-4000 font-weight-bold" for="">Category
              </label>
              <ng-multiselect-dropdown class="custom-multi-select" [settings]="dropdownSettings"
                [placeholder]="'Select category'" [data]="dropdownList" [(ngModel)]="selectedCategories"
                (onSelect)="page=1; getUpcomingTickets()" (onSelectAll)="page=1; selectAllCategories()" (onDeSelect)="page=1; getUpcomingTickets()" (onDeSelectAll)="page=1; unselectAllCategories()">
              </ng-multiselect-dropdown>
             </div>
             <div class="col-lg-4 w-md-100">
              <label class="text-blue-4000 font-weight-bold" for="">Additional Filters
              </label>
              <ng-multiselect-dropdown class="custom-multi-select" [settings]="dropdownSettings1"
                [placeholder]="'Select filter'" [data]="dropdownList1" [(ngModel)]="selectedAdditionalFilter"
                (onSelect)="page=1; getUpcomingTickets()" (onSelectAll)="page=1; selectAllAdditionalFilters()" (onDeSelect)="page=1; getUpcomingTickets()" (onDeSelectAll)="page=1; unselectAllAdditionalFilters()">
              </ng-multiselect-dropdown>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-md-4">
    <div *ngFor="let ticket of tickets" class="col-lg-4">
      <div class="card">
        <div class="card-img-actions">
          <img *ngIf='ticket.placeholders.length==0' class="img-fluid" src="../../../assets/images/Five death.PNG" alt="">
          <img *ngIf='ticket.placeholders.length!=0' class="img-fluid" src="{{ ticket.placeholders[0].image }}" alt="">
          <div class="card-img-actions-overlay card-img-top">
            <a href="javascript:void(0)" routerLink='/tickets/detail/{{ticket.id}}'
              class="btn btn-outline bg-white text-white border-white">
              Details
            </a>
          </div>
        </div>
        <div *ngIf='ticket.ticketOnSale' class="header-elements px-1 mt-2 text-right">
          <span class="badge bg-danger px-3">Ticket on sale</span>
        </div>
        <div *ngIf='ticket.repersonalizationWaiting' class="header-elements px-1 mt-2 text-right">
          <span class="badge bg-warning">Re-personalization waiting</span>
        </div>
        <div *ngIf='ticket.linkedAccountsTicket' class="header-elements px-1 mt-2 text-right">
          <span class="badge bg-blue">Linked Account Ticket - {{ticket.linkedAccountFirstName}} {{ticket.linkedAccountLastName}}</span>
        </div>

        <div class="card-body px-1 py-2">
          <h5 class="text-dark font-weight-bold mb-0">{{ticket.eventName}}</h5>
          <h6 class="text-dark font-weight-bold mb-0">Supported by {{ticket.organizer}}</h6>
          <div class=""><span class="">
              <span class="text-dark font-weight-bold">Date:</span>
              <span class="text-dark"> {{ticket.date.split('T')[0]}} </span>
            </span>
            <span class="ml-md-2 ml-1 text-dark font-weight-bold">Begin:</span>
            <span class="text-dark"> {{(ticket.beginTime.split('T')[1]).split(':')[0] + ":"+ (ticket.beginTime.split('T')[1]).split(':')[1]}}</span>
            <span class="ml-md-2 ml-1 text-dark font-weight-bold">Doors Open :</span>
            <span class="text-dark"> {{ticket.doorsOpen}}</span>
          </div>
          <div class="mb-0"><span class="text-dark font-weight-bold">Seat:</span> <span class="text-dark"> {{ticket.seat}}</span></div>
          <div class="mb-0"><span class="text-dark font-weight-bold">Location:</span>
            <span class="text-dark"> {{ticket.locationName}} <br> {{ticket.locationAddress}}</span></div>
        </div>

        <div class="p-2 d-flex bg-dark justify-content-between">
          <a href="javascript:void(0)" routerLink='/tickets/detail/{{ticket.id}}' class="btn action-blue px-3">
            <span>Details</span>
          </a>
          <div ngbDropdown placement="bottom-right">
            <a href="javascript:void(0)" ngbDropdownToggle id="dropdownBasic1"
              class="btn action-blue d-flex align-items-center dropdown-toggle">
              <span>Actions</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item red" (click)="open1(content1)"> Sell
                Ticket</a>
              <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item greyblue" (click)="open2(content2)">
                Return Ticket</a>
              <a href="javascript:void(0)" ngbDropdownItem class="dropdown-item orange" (click)="open(content)">
                Re-personalize Ticket</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf='pages && pages.length > 0' class="row my-4 justify-content-center">
    <div class="col-lg-12">
      <div class="">
        <ngb-pagination class="custom-pagination" (pageChange)='onPageChange($event)' [pageSize]='1' [collectionSize]="pages.length" [(page)]="page" aria-label="Custom pagination">
          <ng-template ngbPaginationPrevious> ← </ng-template>
          <ng-template ngbPaginationNext> →</ng-template>
          <ng-template ngbPaginationNumber let-p>{{ p }}</ng-template>
        </ngb-pagination>
      </div>

    </div>
  </div>
</div>

<ng-template #content1 let-modal p>
  <div class="modal-header  bg-blue">
    <h6 class="modal-title ">Sell Ticket</h6>
  </div>
  <div class="modal-body px-md-4">
    <div class="row m-0 border">
      <div class="col-lg-3 w-md-100 px-0 mb-2 mb-md-0">
        <div class="">
          <img src="../../../assets/images/Five death.PNG" class="w-100" alt="">
        </div>
      </div>
      <div class="col-lg-9 w-md-100 px-0 px-md-2">
        <div class="row m-0 p-md-1">
          <div class="col-md-12 text-right d-md-none d-block">
            <div class="small"><b>Booking ID: </b>334465</div>
            <div class="small"><b>Ticket ID: </b>12345678</div>
          </div>
          <div class="col-lg-9 pl-mid-0">
              <h2 class="font-weight-bold mb-0 hd2">Viktor Gernot - Nicht Wahr?</h2>
            <h5 class="font-weight-bold mb-0 mb-md-2">Support by Megadeth & Bad Wolves</h5>
            <div class="">
              <span class="custom-size"><b>Date: </b>DD.MM.YYYY</span>
              <span class="custom-size mx-md-3"><b>Begin: </b>19:30</span>
              <span class="custom-size"><b>Doors open: </b>18:00</span>
            </div>
            <div class="custom-size"><b>Seat: </b>Standing Inner Space</div>
            <div class="media mt-1">
              <span class="custom-size"><b>Location: &nbsp;</b> </span>
              <div class="media-body">
                <span class="custom-size"> Vienna, Stadthalle<br> Roland-Rainer-Platz 1<br> 1150 Wien</span>
              </div>
            </div>

          </div>
          <div class="col-lg-3 d-flex flex-column justify-content-between text-right">
              <div class="d-none d-md-block custom-size">
                <div class="small"><b>Booking ID: </b>334465</div>
                <div class="small"><b>Ticket ID: </b>1234567</div>
              </div>
              <div class="">
              <h5 class="mb-0"><b>EUR </b>57.66</h5>
              <div class="small">Price incl. VAT</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-lg-3 d-mid-none"></div>
      <div class="col-lg-9 w-md-100">
        <div class="row border-bottom m-0 p-1">
          <div class="col-lg-12 p-0 px-md-2">
            <span class="custom-size d-mid-block d-none"><b>Ticket ID:</b> 121243234</span>
            <ul class="pl-0 mb-2 mb-md-1 d-md-flex align-items-center">
              <li>
                <span class="custom-size d-block d-mid-none"><b>Ticket ID:</b> 121243234</span>
              </li>
              <li>
                <span class="d-flex align-items-center ml-md-4">
                  <span class="custom-size"><b>Seat:</b> Kat A, Parterre: Reihe: 9 Sitzplatz Nr.:
                    23</span>
                  <div class="form-group pl-2 mb-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="custom_checkbox_stacked_unchecked01"
                        checked="">
                      <label class="custom-control-label text-dark" for="custom_checkbox_stacked_unchecked01"></label>
                    </div>
                  </div>
                </span>
              </li>
              <li class="w-20 d-flex align-items-center">
                <span class="font-weight-bold">EUR </span>
                <div class="form-group form-group-feedback form-group-feedback-left ml-1 mb-0">
                  <input type="text" class="form-control text-primary border-primary pl-1 border-2 font-weight-semibold
                  font-size-lg line-height-sm" value="33.00">

                </div>
                <a href="javascript:void(0)" placement="right" triggers="mouseenter:mouseleave" ngbPopover="The price must not
                    exceed the original
                     price!" class="ml-2 text-blue-400"><i class="icon-info22"></i></a>
              </li>
              <li>
              </li>
            </ul>
            <span class="custom-size d-mid-block d-none"><b>Ticket ID:</b> 121243234</span>
            <ul class="pl-0 mb-2 mb-md-1 d-md-flex align-items-center">
              <li>
                <span class="custom-size d-block d-mid-none"><b>Ticket ID:</b> 121243234</span>
              </li>
              <li>
                <span class="d-flex align-items-center ml-md-4">
                  <span class="custom-size"><b>Seat:</b> Kat A, Parterre: Reihe: 9 Sitzplatz Nr.:
                    23</span>
                  <div class="form-group pl-2 mb-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="custom_checkbox_stacked_unchecked01"
                        checked="">
                      <label class="custom-control-label text-dark" for="custom_checkbox_stacked_unchecked01"></label>
                    </div>
                  </div>
                </span>
              </li>
              <li class="w-20 d-flex align-items-center">
                <span class="font-weight-bold">EUR </span>
                <div class="form-group form-group-feedback form-group-feedback-left ml-1 mb-0">
                  <input type="text" class="form-control text-primary border-primary pl-1 border-2 font-weight-semibold
                  font-size-lg line-height-sm" value="33.00">

                </div>
                <a href="javascript:void(0)" placement="right" triggers="mouseenter:mouseleave" ngbPopover="The price must not
                    exceed the original
                     price!" class="ml-2 text-blue-400"><i class="icon-info22"></i></a>
              </li>
              <li>
              </li>
            </ul>
            <span class="custom-size d-mid-block d-none"><b>Ticket ID:</b> 121243234</span>
            <ul class="pl-0 mb-2 mb-md-1 d-md-flex align-items-center">
              <li>
                <span class="custom-size d-block d-mid-none"><b>Ticket ID:</b> 121243234</span>
              </li>
              <li>
                <span class="d-flex align-items-center ml-md-4">
                  <span class="custom-size"><b>Seat:</b> Kat A, Parterre: Reihe: 9 Sitzplatz Nr.:
                    23</span>
                  <div class="form-group pl-2 mb-0">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="custom_checkbox_stacked_unchecked01"
                        checked="">
                      <label class="custom-control-label text-dark" for="custom_checkbox_stacked_unchecked01"></label>
                    </div>
                  </div>
                </span>
              </li>
              <li class="w-20 d-flex align-items-center">
                <span class="font-weight-bold">EUR </span>
                <div class="form-group form-group-feedback form-group-feedback-left ml-1 mb-0">
                  <input type="text" class="form-control text-primary border-primary pl-1 border-2 font-weight-semibold
                  font-size-lg line-height-sm" value="33.00">

                </div>
                <a href="javascript:void(0)" placement="right" triggers="mouseenter:mouseleave" ngbPopover="The price must not
                    exceed the original
                     price!" class="ml-2 text-blue-400"><i class="icon-info22"></i></a>
              </li>
              <li>
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-lg-3 d-md-block d-none">
            <h5 class="font-weight-semibold text-blue mb-md-3 mb-2">Payout method </h5>
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <div class="uniform-choice"><span class="checked"><input type="radio" class="form-check-input-styled"
                        name="stacked-radio-left" checked="" data-fouc=""></span></div>
                  <img src="../../../assets/images/paypal.PNG" width="60px" alt="">
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-8 pl-md-0 pl-mid-85">
              <h5 class="font-weight-bold mb-0">Possible payout EUR 66.00</h5>
            <div class="">
              <p class="text-muted">Please note that PayPal may charge fees</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mt-md-2 d-none d-md-block">
            <h5 class="text-danger font-weight-bold">BITTE BEACHTEN SIE</h5>
            <p class="custom-size">Zum Verkauf angebotene Tickets werden im Buchungsystem des Ticketanbieters wieder zum
              Verkauf
              freigeschalten
              und Ihre Reservierung wird gelöscht. Sobald das Ticket verkauft wurde, erhalten Sie den originalen
              Ticketpreis
              vom
              Ticketanbieter zurück. Weder FanSafe noch der Ticketanbieter garantieren einen Verkauf des Tickets. Sofern
              das
              Ticket
              nicht verkauft wird, besteht kein Anspruch auf ein Rückerstattung des Kaufpreises.
            </p>
          </div>
          <div class="col-lg-12 d-block d-md-none">
            <div class="media">
              <h5 class="text-danger font-weight-bold mr-2">Note:</h5>
              <div class="media-body">
                <p class="custom-size">
                  Zum Verkauf angebotene Tickets werden im Buchungsystem
                  des Ticketanbieters wieder zum Verkauf freigeschalten und Ihre Reservierung wird
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12 d-block d-md-none">
            <h5 class="font-weight-semibold text-blue my-md-3 my-2">Payout method </h5>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="custom-stacked-radio"
                  id="custom_radio_stacked_unchecked" checked="">
                <label class="custom-control-label" for="custom_radio_stacked_unchecked"><img
                    src="../../../assets/images/paypal.PNG" width="60px" alt=""></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn mr-md-4 btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" (click)="modal.dismiss('Cross click')" class="btn bg-blue px-md-4">Sell Ticket</button>
  </div>
</ng-template>

<ng-template #content2 let-modal p>
  <div class="modal-header  bg-blue">
    <h6 class="modal-title ">Return Ticket</h6>
  </div>
  <div class="modal-body px-md-4">
    <div class="row m-0 border">
      <div class="col-lg-3 w-md-100 px-0 mb-2 mb-md-0">
        <div class="">
          <img src="../../../assets/images/Five death.PNG" class="w-100" alt="">
        </div>
      </div>
      <div class="col-lg-9 w-md-100 px-0 px-md-2">
        <div class="row m-0 p-md-1">
          <div class="col-md-12 text-right d-md-none d-block">
            <div class="small"><b>Booking ID: </b>334465</div>
            <div class="small"><b>Ticket ID: </b>12345678</div>
          </div>
          <div class="col-lg-9 pl-mid-0">
              <h2 class="font-weight-bold mb-0 hd2">Viktor Gernot - Nicht Wahr?</h2>
            <h5 class="font-weight-bold mb-0 mb-md-2">Support by Megadeth & Bad Wolves</h5>
            <div class="">
              <span class="custom-size"><b>Date: </b>DD.MM.YYYY</span>
              <span class="custom-size mx-md-3"><b>Begin: </b>19:30</span>
              <span class="custom-size"><b>Doors open: </b>18:00</span>
            </div>
            <div class="custom-size"><b>Seat: </b>Standing Inner Space</div>
            <div class="media mt-1">
              <span class="custom-size"><b>Location: &nbsp;</b> </span>
              <div class="media-body">
                <span class="custom-size"> Vienna, Stadthalle<br> Roland-Rainer-Platz 1<br> 1150 Wien</span>
              </div>
            </div>

          </div>
          <div class="col-lg-3 d-flex flex-column justify-content-between text-right">
              <div class="d-none d-md-block custom-size">
                <div class="small"><b>Booking ID: </b>334465</div>
                <div class="small"><b>Ticket ID: </b>1234567</div>
              </div>
              <div class="">
              <h5 class="mb-0"><b>EUR </b>57.66</h5>
              <div class="small">Price incl. VAT</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 d-mid-none"></div>
      <div class="col-lg-9 w-md-100 mt-md-2">
        <div class="row border-bottom m-0 p-1">
          <div class="col-lg-12 p-0">
            <span class="custom-size d-mid-block d-none"><b>Ticket ID:</b> 121243234</span>
            <ul class="pl-0 mb-2 mb-md-1 d-flex align-items-center">
              <li>
                <span class="custom-size d-block d-mid-none"><b>Ticket ID:</b> 121243234</span>
              </li>
              <li>
                  <span class="custom-size mx-md-3 pl-mid-0 ml-mid-0"><b>Seat:</b> Kat A, Parterre: Reihe: 9 Sitzplatz Nr.: 23</span>
              </li>
              <li class="ml-xsm-auto">
                <span class="font-weight-bold custom-size">EUR 33.00</span>
              </li>
              <li>
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-5 w-mid-33"></div>
              <div class="col-lg-7 pl-7 text-md-left text-right">
                <h5 class="font-weight-bold mb-0">Possible payout EUR 33.00</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-3 align-mid-baseline">
          <label class="col-lg-2 col-form-label custom-size">Rückgabegrund</label>
          <div class=" col-lg-5 col-12 mb-3">
            <ng-select class="custom" [items]="reason" bindLabel="name" placeholder="Please choose a reason for return">
            </ng-select>
          </div>
          <div class="col-lg-12 mt-md-2 d-none d-md-block">
            <h5 class="text-danger font-weight-bold">BITTE BEACHTEN SIE</h5>
            <p class="custom-size">Zum Verkauf angebotene Tickets werden im Buchungsystem des Ticketanbieters wieder zum
              Verkauf
              freigeschalten
              und Ihre Reservierung wird gelöscht. Sobald das Ticket verkauft wurde, erhalten Sie den originalen
              Ticketpreis
              vom
              Ticketanbieter zurück. Weder FanSafe noch der Ticketanbieter garantieren einen Verkauf des Tickets. Sofern
              das
              Ticket
              nicht verkauft wird, besteht kein Anspruch auf ein Rückerstattung des Kaufpreises.
            </p>
            <div class="form-group mt-md-3 text-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="custom_checkbox_stacked_unchecked04" checked="">
                <label class="custom-control-label text-dark" for="custom_checkbox_stacked_unchecked04">
                  Rückgabebedingungen akzeptieren
                </label>
              </div>
            </div>
          </div>
          <div class="col-lg-12 d-block d-md-none">
            <div class="media">
              <h5 class="text-danger font-weight-bold mr-2">Note:</h5>
              <div class="media-body">
                <p class="custom-size">
                  Zum Verkauf angebotene Tickets werden im Buchungsystem
                  des Ticketanbieters wieder zum Verkauf freigeschalten und Ihre Reservierung wird
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn mr-md-4 btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" (click)="modal.dismiss('Cross click')" class="btn bg-blue px-md-4">Return Ticket</button>
  </div>
</ng-template>

<ng-template #content let-modal p>
  <div class="modal-header  bg-blue">
    <h6 class="modal-title ">Re-personalize Ticket</h6>
  </div>
  <div class="modal-body px-md-4">
    <div class="row m-0 border">
      <div class="col-lg-3 w-md-100 px-0 mb-2 mb-md-0">
        <div class="">
          <img src="../../../assets/images/Five death.PNG" class="w-100 h-230" alt="">
        </div>
      </div>
      <div class="col-lg-9 w-md-100 px-0 px-md-2">
        <div class="row m-0 p-md-1">
          <div class="col-md-12 text-right d-md-none d-block">
            <div class="small"><b>Booking ID: </b>334465</div>
            <div class="small"><b>Ticket ID: </b>12345678</div>
          </div>
          <div class="col-lg-9 pl-mid-0">
              <h2 class="font-weight-bold mb-0 hd2">Viktor Gernot - Nicht Wahr?</h2>
            <h5 class="font-weight-bold mb-0 mb-md-2">Support by Megadeth & Bad Wolves</h5>
            <div class="">
              <span class="custom-size"><b>Date: </b>DD.MM.YYYY</span>
              <span class="custom-size mx-md-3"><b>Begin: </b>19:30</span>
              <span class="custom-size"><b>Doors open: </b>18:00</span>
            </div>
            <div class="custom-size"><b>Seat: </b>Standing Inner Space</div>
            <div class="media mt-1 mb-3">
              <span class="custom-size"><b>Location: &nbsp;</b> </span>
              <div class="media-body">
                <span class="custom-size"> Vienna, Stadthalle<br> Roland-Rainer-Platz 1<br> 1150 Wien</span>
              </div>
            </div>
              <div class="custom-size"><b>Ticket holder: </b>Firstname Lastname / Username</div>
          </div>
          <div class="col-lg-3 d-flex flex-column justify-content-between text-right">
            <div class="d-none d-md-block custom-size">
              <div class="small"><b>Booking ID: </b>334465</div>
              <div class="small"><b>Ticket ID: </b>1234567</div>
            </div>
            <div class="">
            <h5 class="mb-0"><b>EUR </b>57.66</h5>
            <div class="small">Price incl. VAT</div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row border-bottom my-md-4 my-2"></div>
    <div *ngIf="hide">
      <div class="row justify-content-center">
        <div class="col-lg-6 w-md-111 d-none d-md-block">
          <div class="text-center">
            <h5 class="card-title text-danger">Please note</h5>
          </div>
          <div class="text-center px-md-3">
            <h5 class="card-title text-blue-400">The new ticket holder already must be registered with FanSafe.
              Please enter his / her user name in the field below!
            </h5>
          </div>
        </div>
        <div class="col-lg-12 d-block d-md-none">
          <div class="media">
            <h5 class="text-danger font-weight-bold mr-2">Note:</h5>
            <div class="media-body">
              <p class="custom-size text-blue-400">
                The new ticket holder already must be registered with FanSafe.
                Please enter his / her user name in the field below!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row  justify-content-center">
        <div class="col-lg-5">
          <ng-select class="custom" [items]="day" bindLabel="name"
            placeholder="Enter FanSafe Username or Email address ">
          </ng-select>

        </div>
      </div>
    </div>
    <div *ngIf="show">
      <div class="row justify-content-center">
        <div class="col-lg-8 w-md-100 text-md-center">
          <span class="text-blue font-weight-bold custom-size d-block d-md-inline">New Ticket owner:</span>
          <span class="font-weight-bold pl-md-4 custom-size">FirstName LastName / Username (email) </span> <br>
          <div>
            <p class="custom-size">
              A Ticket can be re-personalize Ticketd one time only. Selling the ticket at a higher
              price is not permitted and
              will be prosecuted. I will not sell the ticket to a higher price than the original price.
            </p>
            <div class="custom-control mt-2 custom-conrol-right pl-0 ml-4 ml-0 custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="custom_checkbox_inline_right_checked05"
                checked="">
              <label class="custom-control-label position-static" for="custom_checkbox_inline_right_checked05">I accept
                Terms
                of Re-personalization</label>
            </div>
          </div>
        </div>
        <div class="col-lg-12 border my-3"></div>
        <div class="col-lg-12 ">
          <h3 class="text-blue font-weight-bold mb-3 text-center">CheckOut</h3>
        </div>

      </div>
      <div class="w-custom">
      <div class="row mt-2 justify-content-center">
        <div class="col-lg-5 col-72 mb-2">
          <h6 class="text-blue pl-md-4 font-weight-bold mb-0 mb-md-2">Summary</h6>
          <ul class="p-0 pl-md-4 mb-3 d-flex align-items-center">
            <li class="p-sm-00 p0">
              <h6 class="font-weight-bold text-md-center font-sm mb-0">Re-personalization Fee</h6>
            </li>
            <li class="p-sm-00 p0 li-content">
              <span class="font-sm"><b>Ticket ID:</b> 121243234</span>
            </li>
            <li class="pr-0 ml-auto">
              <span class="custom-size"><b>EUR 5.00</b></span>
            </li>
          </ul>
          <span class="d-md-block d-none text-md-right custom-size font-weight-bold text-blue-400"><b>Total: EUR
              5.00</b></span>
          <span class="d-md-block d-none text-muted text-md-right">All prices incl. VAT</span>
        </div>
        <div class="col-lg-3 col-28 text-md-center">
          <div class="d-flex justify-content-between d-md-none">
            <h6 class="text-blue font-weight-bold text-md-center mb-0">Payout method</h6>
            <div>
              <div class="custom-size text-blue-400"><b>Total: EUR 5.00</b></div>
              <div class="text-muted small">All prices incl. VAT</div>
            </div>
          </div>
          <h6 class="d-none d-md-block text-blue font-weight-bold text-md-center">Payout method</h6>
          <div class="form-group">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="custom-stacked-radio"
                id="custom_radio_stacked_unchecked" checked="">
              <label class="custom-control-label" for="custom_radio_stacked_unchecked"><img
                  src="../../../assets/images/paypal.PNG" width="60px" alt=""></label>
            </div>
            <div class="custom-control custom-radio my-3">
              <input type="radio" class="custom-control-input" name="custom-stacked-radio"
                id="custom_radio_stacked_checked">
              <label class="custom-control-label" for="custom_radio_stacked_checked"><img
                  src="../../../assets/images/visa.PNG" width="60px" alt=""></label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="custom-stacked-radio"
                id="custom_radio_stacked_checked1">
              <label class="custom-control-label" for="custom_radio_stacked_checked1"><img
                  src="../../../assets/images/Soft.PNG" width="60px" alt=""></label>
            </div>
            <span class="d-block text-muted small">After "Buy now" you will be <br> redirected to the payment
              provider</span>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn bg-dark px-md-4 mr-md-4" (click)="toggle1()" *ngIf="show"> Previous</button>
    <button type="button" aria-label="Close" class="btn mr-md-4 btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn bg-success px-md-4" (click)="toggle()"> {{buttonName}}</button>
  </div>
</ng-template>
