<div class="row">
  <div class="col-lg-12 text-center my-2">
    <h2 class="card-title text-blue-400">Ticket personalization
    </h2>

  </div>
    <div class="col-lg-12">
      <div class="container">
        <div class="card border-0">
          <div class="row m-0 border">
            <div class="col-lg-3 w-md-100 px-0 mb-2 mb-md-0">
              <div class="">
                <img src="../../../assets/images/Five death.PNG" class="w-100 h-230" alt="">
              </div>
            </div>
            <div class="col-lg-9 w-md-100 px-0 px-md-2">
              <div class="row m-0 p-md-1">
                <div class="col-md-12 text-right d-md-none d-block">
                  <div class="small"><b>Booking ID: </b>334465</div>
                  <div class="small"><b>Ticket ID: </b>12345678</div>
                </div>
                <div class="col-lg-9 pl-mid-0">
                    <h2 class="font-weight-bold mb-0 hd2">Viktor Gernot - Nicht Wahr?</h2>
                  <h5 class="font-weight-bold mb-0 mb-md-2">Support by Megadeth & Bad Wolves</h5>
                  <div class="">
                    <span class="custom-size"><b>Date: </b>DD.MM.YYYY</span>
                    <span class="custom-size mx-md-3"><b>Begin: </b>19:30</span>
                    <span class="custom-size"><b>Doors open: </b>18:00</span>
                  </div>
                  <div class="custom-size"><b>Seat: </b>Standing Inner Space</div>
                  <div class="media mt-1 mb-3">
                    <span class="custom-size"><b>Location: &nbsp;</b> </span>
                    <div class="media-body">
                      <span class="custom-size"> Vienna, Stadthalle<br> Roland-Rainer-Platz 1<br> 1150 Wien</span>
                    </div>
                  </div>
                    <div class="custom-size d-none d-md-block"><b>Organizer: </b>Livegeist Entertainment Gmbh 37, Germany</div>
                </div>
                <div class="col-lg-3 d-flex flex-column justify-content-between text-right">
                  <div class="d-none d-md-block custom-size">
                    <div class="small"><b>Booking ID: </b>334465</div>
                    <div class="small"><b>Ticket ID: </b>1234567</div>
                  </div>
                  <div class="">
                  <h5 class="mb-0"><b>EUR </b>57.66</h5>
                  <div class="small">Price incl. VAT</div>
                </div>
                <div class="small d-block d-md-none mt-1 text-left mb-1"><b>Organizer: </b>Livegeist Entertainment Gmbh 37, Germany</div>
              </div>
              </div>
            </div>
          </div>
            <div class="row mx-0 my-md-3 my-2">
              <div class="col-lg-3 w-md-100 text-md-center mt-md-1 mb-1 px-3">
                <span class="custom-size"><b>Pre-personalized to: </b>Markus Rein</span>
              </div>
              <div class="col-lg-9 w-md-100 px-3">
                <div class="row">
                  <div class="col-lg-7 col-70 mb-2">
                    <input type="text" readonly="" placeholder="sana" class="form-control">
                  </div>
                  <div class="col-lg-2 col-30 text-center">
              <button type="submit" class="btn bg-blue d-md-block" (click)="openIdVerificationComponent(idcontent)">ID Check</button>
              
              




                  </div>
                  <div class="col-lg-8 w-md-100">
                    <div class="media-body mt-2 px-2 p-md-0">
                      <span class="text-blue-400 custom-size c-1">
                        Die Begleitperson ist minderjährig oder hat keinen FanSafe Benutzernamen
                        und möchte das Ticket vom Käufer verwalten lassen. Erstelle einen
                        <a href="javascript:void(0)" class="font-weight-bold text-blue-400 text-underline"><u>Linked
                            Account</u> </a>
                        <a href="javascript:void(0)" placement="right" triggers="mouseenter:mouseleave"
                          [ngbPopover]="popContent" class="ml-1 text-blue-400"><i class="icon-info22"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-header py-2 bg-blue">
          <div class="d-flex align-items-center">
            <label class="switch mb-0">
              <input type="checkbox">
              <span class="slider round"></span>
            </label>
            <span class="ml-2 font-weight-semibold">Give a Ticket</span>
          </div>
      </div>
        <div class="row m-0 border">
          <div class="col-lg-3 w-md-100 px-0 mb-2 mb-md-0">
            <div class="">
              <img src="../../../assets/images/Five death.PNG" class="w-100 h-230" alt="">
            </div>
          </div>
          <div class="col-lg-9 w-md-100 px-0 px-md-2">
            <div class="row m-0 p-md-1">
              <div class="col-md-12 text-right d-md-none d-block">
                <div class="small"><b>Booking ID: </b>334465</div>
                <div class="small"><b>Ticket ID: </b>12345678</div>
              </div>
              <div class="col-lg-9 pl-mid-0">
                  <h2 class="font-weight-bold mb-0 hd2">Viktor Gernot - Nicht Wahr?</h2>
                <h5 class="font-weight-bold mb-0 mb-md-2">Support by Megadeth & Bad Wolves</h5>
                <div class="">
                  <span class="custom-size"><b>Date: </b>DD.MM.YYYY</span>
                  <span class="custom-size mx-md-3"><b>Begin: </b>19:30</span>
                  <span class="custom-size"><b>Doors open: </b>18:00</span>
                </div>
                <div class="custom-size"><b>Seat: </b>Standing Inner Space</div>
                <div class="media mt-1 mb-3">
                  <span class="custom-size"><b>Location: &nbsp;</b> </span>
                  <div class="media-body">
                    <span class="custom-size"> Vienna, Stadthalle<br> Roland-Rainer-Platz 1<br> 1150 Wien</span>
                  </div>
                </div>
                  <div class="custom-size d-none d-md-block"><b>Organizer: </b>Livegeist Entertainment Gmbh 37, Germany</div>
              </div>
              <div class="col-lg-3 d-flex flex-column justify-content-between text-right">
                <div class="d-none d-md-block custom-size">
                  <div class="small"><b>Booking ID: </b>334465</div>
                  <div class="small"><b>Ticket ID: </b>1234567</div>
                </div>
                <div class="">
                <h5 class="mb-0"><b>EUR </b>57.66</h5>
                <div class="small">Price incl. VAT</div>
              </div>
              <div class="small d-block d-md-none mt-1 text-left mb-1"><b>Organizer: </b>Livegeist Entertainment Gmbh 37, Germany</div>
            </div>
            </div>
          </div>
        </div>
          <div class="row mx-0 my-md-3 my-2">
            <div class="col-lg-3 w-md-100 text-md-center mt-md-1 mb-1 px-3">
              <span class="custom-size"><b>Pre-personalized to: </b>Markus Rein</span>
            </div>
            <div class="col-lg-9 w-md-100 px-3">
              <div class="row">
                <div class="col-lg-7 col-70 mb-2">
                  <input type="text" readonly="" placeholder="sana" class="form-control">
                </div>
                <div class="col-lg-2 col-30 text-center">
            <button type="submit" class="btn bg-blue d-md-block">ID Check</button>

                </div>
                <div class="col-lg-8 w-md-100">
                  <div class="media-body mt-2 px-2 p-md-0">
                    <span class="text-blue-400 custom-size c-1">
                      Die Begleitperson ist minderjährig oder hat keinen FanSafe Benutzernamen
                      und möchte das Ticket vom Käufer verwalten lassen. Erstelle einen
                      <a href="javascript:void(0)" class="font-weight-bold text-blue-400 text-underline"><u>Linked
                          Account</u> </a>
                      <a href="javascript:void(0)" placement="right" triggers="mouseenter:mouseleave"
                        [ngbPopover]="popContent" class="ml-1 text-blue-400"><i class="icon-info22"></i></a>
                    </span>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>

<ng-template #idcontent let-modal p>
  <app-id-verification [show] = 'show'></app-id-verification>
    <div class="modal-footer justify-content-center">
      <button type="button" class="btn bg-dark px-md-4 mr-md-4" (click)="previous()" *ngIf="show == 3"> Previous</button>
      <button type="button" class="btn bg-dark px-md-4 mr-md-4" (click)="previous()" *ngIf="show == 2"> Previous</button>
      <button type="button" aria-label="Close" class="btn mr-md-4 btn-dark px-md-4" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn bg-blue px-md-4 border border-dark" (click)="next()" *ngIf="show == 1">Start</button>
      <button type="button" class="btn bg-success px-md-4" (click)="next()" *ngIf="show == 2">Next</button>
      <button type="button" class="btn bg-success px-md-4" (click)="next()" *ngIf="show == 3">Next</button>
    </div>
  </ng-template> 

<div class="row justify-content-center my-3">
  <div class="col-lg-3 mb-3 text-md-right d-md-block d-none">
    <button type="submit" routerLink="/personalization" class="btn btn-dark bg-dark">Back to overview</button>
  </div>
  <div class="col-lg-3 mb-3 text-center w-5050">
    <button class="btn bg-green" (click)="open(content)">Edit gift card</button>
  </div>
  <div class="col-lg-3 mb-3 text-md-left w-5050">
    <button id="disable" class="btn bg-blue">Assign all tickets</button>
  </div>
  <div class="col-lg-3 mb-3 text-md-right w-1010 d-block d-md-none">
    <button type="submit" routerLink="/personalization" class="btn btn-dark bg-dark">Back to overview</button>
  </div>
</div>


<ng-template #popContent>
  - Ein Haupkontenbesitzer kann bis zu 4 Personen verwalten. <br>
  - Der Hauptkontenbesitzer muss bereits einen ID Check durchgeführt
  haben um einen Connected Account anzulegen. <br>
  - Personen eines Connected Account müssen ebenfalls einmalig einem
  ID Check durchführen. <br>
  - Connected Accounts sind mit Vor- und Nachnamen und
  Benutzernamen versehen. <br>
  - Connected Accounts können nur vom FanSafe Support geändert werden. <br>
</ng-template>



<ng-template #content let-modal>
  <div class="modal-header justify-content-center bg-blue-400">
    <h5 class="card-title mb-0">Gift Card Editor
    </h5>
  </div>
  <div class="modal-body">
   <div class="card p-2">
     <div class="row">
       <div class="col-lg-12">
           <angular-editor [(ngModel)]="htmlContent" class="d-none d-md-block" [config]="config"></angular-editor>
           <textarea rows="5" cols="5" class="form-control d-block d-md-none" placeholder="Enter your message here" style="margin-top: 0px; margin-bottom: 0px; height: 130px;"></textarea>
       </div>
       <div class="col-lg-12 mt-3">
         <p class="font-weight-bold">Tickets</p>
       </div>
       <div class="col-lg-12">
        <div class="card">
          <div class="">
            <div class="row">
             <div class="col-lg-4 w-md-400">
               <img src="../../../assets/images/metalic.PNG" width="100%" alt="">
             </div>
             <div class="col-lg-8 w-md-100">
               <div class="card-body px-2 p-md-0">
                <h5 class="text-dark font-weight-bold">Metallica - WorldWired Tour 2020</h5>
                <div class="mb-2"><span class="">
                  <span class="text-dark font-weight-bold">Date:</span>
                  <span class="text-dark"> DD.MM.YYYY </span>
                </span>
                <span class="ml-md-2 ml-1 text-dark font-weight-bold">Begin:</span>
                <span class="text-dark"> 19:30</span>
                <span class="ml-md-2 ml-1 text-dark font-weight-bold">Doors Open :</span>
                <span class="text-dark"> 18:00</span>
              </div>
                <div class="mb-2"><span class="text-dark font-weight-bold">Seat:</span> <span
                    class="text-dark"> Standing Inner Space</span></div>
                <div class=""><span class="text-dark font-weight-bold">Location:</span>
                  <span class="text-dark"> Stadhalle Wien <br> Ronald-Rainer-Platz 1 <br> 1150 Wien Osterreich</span></div>
             </div>
             </div>
            </div>
          </div>
        </div>
       </div>
       <div class="col-lg-12">
        <div class="card">
          <div class="">
            <div class="row">
             <div class="col-lg-4 w-md-400">
               <img src="../../../assets/images/metalic.PNG" width="100%" alt="">
             </div>
             <div class="col-lg-8 w-md-100">
               <div class="card-body px-2 p-md-0">
              <h5 class="text-dark font-weight-bold">Metallica - WorldWired Tour 2020</h5>
                <div class="mb-2"><span class="">
                  <span class="text-dark font-weight-bold">Date:</span>
                  <span class="text-dark"> DD.MM.YYYY </span>
                </span>
                <span class="ml-md-2 ml-1 text-dark font-weight-bold">Begin:</span>
                <span class="text-dark"> 19:30</span>
                <span class="ml-md-2 ml-1 text-dark font-weight-bold">Doors Open :</span>
                <span class="text-dark"> 18:00</span>
              </div>
                <div class="mb-2"><span class="text-dark font-weight-bold">Seat:</span> <span
                    class="text-dark"> Standing Inner Space</span></div>
                <div class=""><span class="text-dark font-weight-bold">Location:</span>
                  <span class="text-dark"> Stadhalle Wien <br> Ronald-Rainer-Platz 1 <br> 1150 Wien Osterreich</span></div>
             </div>
             </div>
            </div>
          </div>
        </div>
       </div>
       <div class="col-lg-12">
         <hr>
       </div>
       <div class="col-lg-12">
        <div class="card p-2">
          <h5 class="text-danger">Please note that the tickets shown in the gift card do not entitle you to enter the
            event.</h5>
          <h5 class="text-danger"> You can fnd the tickets in digital form in your FanSafe account within the
            "My tickets" menu</h5>
        </div>
       </div>
     </div>
   </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button (click)="modal.close('Close click')" class="btn px-3 bg-dark">Cancel</button>
    <button (click)="modal.close('Close click')" class="btn px-3 mx-md-3 bg-green">Save</button>
    <button (click)="modal.close('Close click')" class="btn bg-blue">Download</button>
  </div>
</ng-template>
