<div class="content">
  <div class="row">
    <div class="col-lg-6 w-md-100 mb-3">
      <h4 class="">Company Name</h4>
      <div class="company-img my-2">
        <img src="../../../../../assets/images/stage_logo.png" class="" alt="">
      </div>
    </div>
    <div class="col-lg-6 w-md-100">
      <form action="#">
        <div class="form-group row align-items-center text-left">
          <label class="col-lg-2 mb-3 col-form-label font-weight-semibold">Email</label>
          <div class="col-lg-6 mb-3">
            <p class="mb-0">offce@agentur-stage.at</p>
          </div>
          <div class="col-12">
          <button type="submit" class="btn bg-blue-400 px-4">Send Password Recovery Link</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
