<div class="row">
  <div class="col-lg-12 text-center my-2">
    <h2 class="card-title text-blue-400">Need help? Get in touch with our Support Team</h2>

  </div>
  <div class="col-lg-4">
    <div class="card custom-height">
      <div class=" card-body text-center">
        <i class="icon-question3 icon-2x text-success-400 border-success-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
        <h5 class=" card-title text-success-400">Frequently Asked Questions</h5>
        <p class="mb-3">Please browse our FAQs below to fnd a solution for
          your problem. If you are still left with open questions
          don´t hestitate to contact us. <br>
          Our Support Team will be happy to help you.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card custom-height">
      <div class=" card-body text-center">
        <i class="icon-envelop icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
        <h5 class="card-title text-warning-400">Contact us via Email </h5>
        <p class="mb-3">Ouch found swore much dear conductively hid submissively hatchet vexed far</p>
        <a (click)="open(content)" class="btn bg-warning">Send Email</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card custom-height">
      <div class="card-body text-center">
        <i class="icon-phone2 icon-2x text-blue border-blue border-3 rounded-round p-3 mb-3 mt-1"></i>
        <h5 class="card-title text-blue-400">Support Hotline: 0800 1234567</h5>
        <p class="mb-3">Monday - Friday 9:00 - 17:00
          After business hours and weekends please contact
          us via email.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 text-center my-2">
    <h2 class="card-title text-blue-400">Frequently Asked Questions</h2>

  </div>
  <div class="col-lg-12">
    <div class="card-group-control card-group-control-right">
      <div class="card mb-2">
        <div class="card-header">
          <h6 class="card-title">
            <a class="text-default collapsed" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
              data-toggle="collapse" aria-expanded="false">
              <i class="icon-help mr-2 text-slate" placement="top" ngbTooltip="Open the question"></i> A without walking
              some objective?
            </a>
          </h6>
        </div>

        <div id="question1" id="collapseExample" [ngbCollapse]="isCollapsed" class="collapse">
          <div class="card-body">
            She exposed painted fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands
            although yet end. Are court tiled cease young built fat one man taken. We highest ye friends is exposed
            equally in. Ignorant had too strictly followed. Astonished as travelling assistance or unreserved oh
            pianoforte ye. Five with seen put need tore add neat.
          </div>

          <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
            <span class="text-muted">Latest update: May 25, 2015</span>

            <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
              <li class="list-inline-item"><a href="#" class="text-primary mr-2"><i class="icon-thumbs-up2"></i></a> 320
              </li>
              <li class="list-inline-item"><a href="#" class="text-muted mr-2"><i class="icon-thumbs-down2"></i></a> 14
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header">
          <h6 class="card-title">
            <a class="text-default collapsed" (click)="isCollapsed1 = !isCollapsed1"
              [attr.aria-expanded]="!isCollapsed1" data-toggle="collapse" aria-expanded="false">
              <i class="icon-help mr-2 text-slate" placement="top" ngbTooltip="Open the question"></i> She exposed
              painted fifteen are noisier?
            </a>
          </h6>
        </div>

        <div id="question2" id="collapseExample" [ngbCollapse]="isCollapsed1" class="collapse">
          <div class="card-body">
            There worse by an of miles civil. Manner before lively wholly am mr indeed expect. Among every merry his yet
            has her. You mistress get dashwood children off. Met whose marry under the merit. In it do continual
            consulted no listening. Devonshire sir sex motionless travelling six themselves. So colonel as greatly
            shewing herself observe ashamed.
          </div>

          <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
            <span class="text-muted">Latest update: May 22, 2015</span>

            <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
              <li class="list-inline-item"><a href="#" class="text-primary mr-2"><i class="icon-thumbs-up2"></i></a> 278
              </li>
              <li class="list-inline-item"><a href="#" class="text-muted mr-2"><i class="icon-thumbs-down2"></i></a> 25
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header">
          <h6 class="card-title">
            <a class="text-default collapsed" (click)="isCollapsed2 = !isCollapsed2"
              [attr.aria-expanded]="!isCollapsed2" data-toggle="collapse" aria-expanded="false">
              <i class="icon-help mr-2 text-slate" placement="top" ngbTooltip="Open the question"></i> Surprise not
              wandered speedily?
            </a>
          </h6>
        </div>

        <div id="question3" [ngbCollapse]="isCollapsed2" class="collapse">
          <div class="card-body">
            Do ashamed assured on related offence at equally totally. Use mile her whom they its. Kept hold an want as
            he bred of. Was dashwood landlord cheerful husbands two. Estate why theirs indeed him polite old settle
            though she. In as at regard easily narrow roused adieus. Parlors visited noisier how explain pleased his see
            suppose. He oppose at thrown desire.
          </div>

          <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
            <span class="text-muted">Latest update: May 12, 2015</span>

            <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
              <li class="list-inline-item"><a href="#" class="text-primary mr-2"><i class="icon-thumbs-up2"></i></a> 438
              </li>
              <li class="list-inline-item"><a href="#" class="text-muted mr-2"><i class="icon-thumbs-down2"></i></a> 16
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header">
          <h6 class="card-title">
            <a class="text-default collapsed" (click)="isCollapsed3 = !isCollapsed3"
              [attr.aria-expanded]="!isCollapsed3" data-toggle="collapse">
              <i class="icon-help mr-2 text-slate" placement="top" ngbTooltip="Open the question"></i> Are court tiled
              cease young built fat?
            </a>
          </h6>
        </div>

        <div id="question4" [ngbCollapse]="isCollapsed3" class="collapse">
          <div class="card-body">
            Additions in conveying or collected objection in. Suffer few desire wonder her object hardly nearer. Abroad
            no chatty others my silent an. Fat way appear denote who wholly narrow gay settle. Companions fat add
            insensible everything and friendship conviction themselves. Theirs months ten had add narrow own. By spite
            about do of do allow blush before lively wholly.
          </div>

          <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
            <span class="text-muted">Latest update: May 9, 2015</span>

            <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
              <li class="list-inline-item"><a href="#" class="text-primary mr-2"><i class="icon-thumbs-up2"></i></a> 583
              </li>
              <li class="list-inline-item"><a href="#" class="text-muted mr-2"><i class="icon-thumbs-down2"></i></a> 21
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header">
          <h6 class="card-title">
            <a class="text-default collapsed" (click)="isCollapsed4 = !isCollapsed4"
              [attr.aria-expanded]="!isCollapsed4" data-toggle="collapse">
              <i class="icon-help mr-2 text-slate" placement="top" ngbTooltip="Open the question"></i> Announcing of
              invitation principles in?
            </a>
          </h6>
        </div>

        <div id="question5" [ngbCollapse]="isCollapsed4" class="collapse">
          <div class="card-body">
            Wished he entire esteem mr oh by. Possible bed you pleasure civility boy elegance ham. He prevent request by
            if in pleased. Picture too and concern has was comfort. Ten difficult resembled eagerness nor. Same park
            bore on be. Warmth his law design say are person. Pronounce suspected in belonging conveying ye repulsive.
            Whole every miles as tiled at seven concern.
          </div>

          <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
            <span class="text-muted">Latest update: May 6, 2015</span>

            <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
              <li class="list-inline-item"><a href="#" class="text-primary mr-2"><i class="icon-thumbs-up2"></i></a> 642
              </li>
              <li class="list-inline-item"><a href="#" class="text-muted mr-2"><i class="icon-thumbs-down2"></i></a> 26
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="font-size-sm text-uppercase font-weight-semibold text-muted pt-2 mb-2">Selling and buying</div>
  </div>
  <div class="col-lg-12">
    <div class="card-group-control card-group-control-right">
      <div class="card mb-2">
        <div class="card-header">
          <h6 class="card-title">
            <a (click)="isCollapsed5 = !isCollapsed5" [attr.aria-expanded]="!isCollapsed5"
              class="text-default collapsed" data-toggle="collapse">
              <i class="icon-help mr-2 text-slate" placement="top" ngbTooltip="Open the question"></i> Projection
              invitation affronting admiration?
            </a>
          </h6>
        </div>

        <div id="question12" [ngbCollapse]="isCollapsed5" class="collapse">
          <div class="card-body">
            Manor we shall merit by chief wound no or would. Oh towards between subject passage sending mention or it.
            Sight happy do burst fruit to woody begin at. Assurance perpetual he in oh determine as. The year paid met
            him does eyes same. Own marianne improved sociable not out. Thing do sight blush mr an. Celebrated am
            announcing delightful remarkably literature.
          </div>

          <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
            <span class="text-muted">Latest update: Apr 13, 2015</span>

            <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
              <li class="list-inline-item"><a href="#" class="text-primary mr-2"><i class="icon-thumbs-up2"></i></a> 735
              </li>
              <li class="list-inline-item"><a href="#" class="text-muted mr-2"><i class="icon-thumbs-down2"></i></a> 34
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header">
          <h6 class="card-title">
            <a class="text-default collapsed" (click)="isCollapsed6 = !isCollapsed6"
              [attr.aria-expanded]="!isCollapsed6" data-toggle="collapse">
              <i class="icon-help mr-2 text-slate" placement="top" ngbTooltip="Open the question"></i> It as instrument
              boisterous frequently?
            </a>
          </h6>
        </div>

        <div id="question13" [ngbCollapse]="isCollapsed6" class="collapse">
          <div class="card-body">
            Material confined likewise it humanity raillery an unpacked as he. Three chief merit no if. Now how her
            edward engage not horses. Oh resolution he dissimilar precaution to comparison an. Matters engaged between
            he of pursuit manners we moments. Merit gay end sight front. Manor equal it on again ye folly by match. In
            so melancholy as an sentiments simplicity.
          </div>

          <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
            <span class="text-muted">Latest update: Apr 11, 2015</span>

            <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
              <li class="list-inline-item"><a href="#" class="text-primary mr-2"><i class="icon-thumbs-up2"></i></a> 865
              </li>
              <li class="list-inline-item"><a href="#" class="text-muted mr-2"><i class="icon-thumbs-down2"></i></a> 43
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header">
          <h6 class="card-title">
            <a (click)="isCollapsed7 = !isCollapsed7" [attr.aria-expanded]="!isCollapsed7"
              class="text-default collapsed" data-toggle="collapse">
              <i class="icon-help mr-2 text-slate" placement="top" ngbTooltip="Open the question"></i> You fully seems
              stand nay?
            </a>
          </h6>
        </div>

        <div id="question14" [ngbCollapse]="isCollapsed7" class="collapse">
          <div class="card-body">
            Fulfilled direction use continual set him propriety continued. Saw met applauded favourite deficient
            engrossed concealed and her. Concluded boy perpetual old supposing. Farther related bed and passage comfort
            civilly. Dashwoods see frankness objection abilities the. As hastened oh produced prospect formerly up am.
            Placing forming nay looking old married few has.
          </div>

          <div class="card-footer bg-transparent d-sm-flex align-items-sm-center border-top-0 pt-0">
            <span class="text-muted">Latest update: Apr 10, 2015</span>

            <ul class="list-inline text-nowrap mb-0 ml-auto mt-2 mt-sm-0">
              <li class="list-inline-item"><a href="#" class="text-primary mr-2"><i class="icon-thumbs-up2"></i></a> 432
              </li>
              <li class="list-inline-item"><a href="#" class="text-muted mr-2"><i class="icon-thumbs-down2"></i></a> 38
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<ng-template #content let-modal p>
  <div class="modal-header bg-warning">
    <h6 class="modal-title">Send Email</h6>
  </div>
  <div class="modal-body px-md-4">
    <form>
      <div class="form-group row">
        <label class="col-form-label col-lg-2">Email</label>
        <div class="col-lg-10 w-md-100">
          <input type="text" readonly placeholder="" value="abc@gmail.com" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-lg-2">Name</label>
        <div class="col-lg-10 w-md-100">
          <input type="text" readonly placeholder="" value="username" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-lg-2">Subject</label>
        <div class="col-lg-10 w-md-100">
          <input type="text" placeholder="" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-lg-2">Message</label>
        <div class="col-lg-10 w-md-100">
          <angular-editor class="d-none d-md-block"  [config]="config"></angular-editor>
          <textarea rows="5" cols="5" class="form-control d-block d-md-none" placeholder="Enter your message here"
          style="margin-top: 0px; margin-bottom: 0px; height: 130px;"></textarea>
       </div>
      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" class="btn btn-warning px-md-4" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
