<div class="container-fluid">
  <ngb-tabset class="custom-tabs" [destroyOnHide]="false">
    <ngb-tab>
      <ng-template ngbTabTitle>
        <h3 class="mb-0 font-weight-normal">Ticket Marketplace </h3>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="card border-0">
          <div class="card-body">
            <app-market-tickets></app-market-tickets>

          </div>
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <h3 class="mb-0 font-weight-normal">My Sales</h3>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="card border-0">
          <div class="card-body">
            <app-my-tickets></app-my-tickets>

          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
