    <div class="mt-5">
        <div class="font-weight-bold mb-0 h5 ml-3">
            We need to verify your ID in order to
        </div>
        <div class="entry-content ml-5 mt-2">
            <p>&#9642; ensure trouble-free entry with your personalized ticket</p>
            <p>&#9642; ensure that you are able to assign tickets to other users</p>
            <p>&#9642; payout your sales from the Fansafe Marketplace</p>
        </div>


    </div>
    <div class="mt-5">
        <div class="font-weight-bold mb-0 h5 ml-3 mb-3">
            Please prepare following documents before you start the verifcation process
        </div>
        <div class="entry-content ml-5 mt-2 mb-3">
            <p>&#9642; ID Document (Passport or Driver License or Personal ID Card)</p>
            <p>&#9642; Selfe image (Frontal view, without sunglasses, headgear, mask etc.)</p>
        </div>
    </div>