<div class="card border-0 shadow-none">
  <div class="card-header bt-transparent">
    <div class="row justify-content-center my-3">
      <div class="col-lg-12 text-center">
        <a href="javascript:void(0)" routerLink='/profile/create' class="btn btn-primary">Connect new account</a>
      </div>
      <div class="col-lg-12">
        <hr>
      </div>
      <div class="col-lg-10">
        <div class="card-body my-md-4">
          <div class="card-body shadow">
            <div class="media text-md-left text-center d-md-flex d-inline-block">
              <img src="../../../../assets/images/person.PNG" class="align-self-md-center mr-3" alt="...">
              <div class="media-body p-md-4">
                <h6 class="text-center text-blue-400">You currently have no linked accounts.
                  You are able to connect up to 4 accounts with your main account
                  and administrate the tickets for these persons.
                </h6>
                <h6 class="mb-0 text-blue-400 text-center">Using a linked account also requires an ID Check of this
                  person, which has
                  to be performed within the main account.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
