<div class="row">
  <div class="col-lg-12 text-center row">
    <div class='col-lg-6 text-center my-2'>
      <div class="card">
        <div class="card-body row">
            <div class="chart-container">
              <div class="col-lg-12 my-2 text-center">
                  <h5 class="card-title text-blue-400">TOTAL INCOMING TICKETS per Event</h5>
              </div>
              <canvas baseChart [data]="incomingTicketsData" [labels]="incomingTicketsLabel" chartType="pie"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="true">
              </canvas>
            </div>
        </div>
      </div>
    </div>

    <div class='col-lg-6 text-center my-2'>
      <div class="card">
        <div class="card-body row">
            <div class="chart-container">
              <div class="col-lg-12 my-2 text-center">
                <h5 class="card-title text-blue-400">TOTAL PERSONALIZED TICKETS per Event</h5>
              </div>
              <canvas baseChart [data]="personalizedTicketsData" [labels]="personalizedTicketsLabel" chartType="pie"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="true">
              </canvas>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>
