::ng-deep .nav-tabs .nav-link.active {
  color: #29b6f6;
  background-color: #fff;
  border-color: #ddd #ddd #fff;
  border-top: 3px solid #09a1ce;
}

::ng-deep .custom-tabs .nav-tabs {
  border-bottom: none !important;
}

::ng-deep .custom-tabs .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}
