<div class="card border-0 shadow-none">
  <div class="card-header bt-transparent">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="modal-header py-2 rounded-0 bg-blue justify-content-center">
          <h4 class="modal-title m-0">{{'profile.linked.create.labels.title' | translate}}</h4>
        </div>
      </div>
    </div>
    <div class="row m-0 justify-content-center">
      <div class="col-lg-12 col-lg-offset-3">
        <div class="card border-0 shadow shadow-sm-none">
          <form class="wizard">
            <div class="steps clearfix mb-md-3">
              <ul role="tablist">
                <li role="tab" class="done" aria-disabled="false" aria-selected="true"><a id="steps-uid-0-t-0"
                      routerLink='/profile/create' aria-controls="steps-uid-0-p-0" class=""><span
                      class="current-info audible">{{'profile.linked.create.labels.currentStep' | translate}}: </span><span class="number">1</span> {{'profile.linked.create.labels.personal-data' | translate}}</a></li>
                <li role="tab" class="first current" aria-disabled="true"><a id="steps-uid-0-t-1"
                     aria-controls="steps-uid-0-p-1"><span
                      class="number">2</span> {{'profile.linked.create.labels.idVerification' | translate}}</a>
                </li>
              </ul>
            </div>
            <div class="content">
              <div class="row justify-content-center mb-3">
                <div class="col-lg-6 text-center">
                  <h4 [innerHTML]="'profile.linked.create.labels.verifyLinkedText' | translate"></h4>
                </div>
              </div>
            </div>
            <div class="actions clearfix">
              <ul role="menu" aria-label="Pagination">
                <li class="disabled float-left" style='color: white'  aria-disabled="false"><a (click)='previousEmitter.emit()'
                    class="btn btn-dark" role="menuitem"><i class="icon-arrow-left13 mr-2"></i> {{'profile.linked.create.buttons.previous' | translate}}</a></li>
                <li aria-hidden="true"><a (click) = 'openIdVerificationComponent()' class="btn bg-blue-400" style='color: white'
                    role="menuitem">{{'profile.linked.create.labels.verifyLinkedId' | translate}}
                    <i class="icon-arrow-right14 ml-2"></i></a></li>
              </ul>
            </div>
          </form>
        </div>

        <app-id-verification [selectedIdParam]="selectedIdParam" [pageType]='2' [urlParams]='userHash' [linkedAccountRequest]='connectRequest' (onFinishEmitter)='redirect($event)'></app-id-verification>

      </div>
    </div>
  </div>
</div>
