.sidebar {
  height: 100%;
}
.sidebar-dark{
  background: #273237 !important;
}
.nav-item-submenu>.nav-link:after {
  display: none;
}
@media (min-width: 768px){
.sidebar-xs .sidebar-main .nav-sidebar>ul li a.span {
  display: none;
}
}
@media (min-width: 768px){
.sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub[data-submenu-title]:before {
    content: attr(data-submenu-title);
    display: block;
    padding: .75rem 1.25rem;
    padding-bottom: 0;
    margin-top: .5rem;
    opacity: .5;
}
}
 .collapse:not(.show) {
  display: none !important;
}
.collapse .show  {
display: block !important;
}
/*
.sidebar-xs .sidebar-main .nav-sidebar>.collapse>.nav-item>.nav-link>span {
  display: none;
}
.sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link {
justify-content: center;
padding-left: 0px;
padding-right: 0px;
margin-right: 39px;
} */
