.fixed-notification {
    position: fixed; 
    z-index: 999; 
    width: 100%;
  }

  .lang {
    position: absolute;
    background-color: red;
    top: 35px;
    right: 10px;
  }

  .lang__img {
    width: 25px;
    height: 20px;
  }

