<div class="content">
  <div class="row">
    <div class="col-lg-3 w-md-100 mb-3 text-center">
      <h2 class="">Username</h2>
      <div class="profile-img d-inline-block">
        <img src="../../../../assets/images/user.png" class="" alt="">
      </div>
    </div>
    <div class="col-lg-9 w-md-100">
      <form action="#">
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Standard Email</label>
          <div class="col-lg-6 mb-2">
            <input type="email" class="form-control" placeholder="Enter your First Name">
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Email #2</label>
          <div class="col-lg-6 mb-2">
            <input type="email" class="form-control" placeholder="Enter your First Name">
          </div>
          <div class="col-lg-3">
            <button type="submit" class="btn btn-primary" (click)="open1(content1)">Set as standard email</button>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Email #3</label>
          <div class="col-lg-6 mb-2">
            <input type="email" class="form-control" placeholder="Enter your First Name">
          </div>
          <div class="col-lg-3">
            <button type="submit" class="btn btn-primary" (click)="open1(content1)">Set as standard email</button>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Email #4</label>
          <div class="col-lg-6 mb-2">
            <input type="email" class="form-control" placeholder="Enter your First Name">
          </div>
          <div class="col-lg-3">
            <button type="submit" class="btn btn-primary" (click)="open1(content1)">Set as standard email</button>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Email #5</label>
          <div class="col-lg-6 mb-2">
            <input type="email" class="form-control" placeholder="Enter your First Name">
          </div>
          <div class="col-lg-3">
            <button type="submit" class="btn btn-primary" (click)="open1(content1)">Set as standard email</button>
          </div>
        </div>
      </form>
      <div class="text-center">
        <button type="submit" class="btn btn-dark mr-3 mb-3">Cancel</button>
        <button type="submit" class="btn btn-success mb-3">Save</button>
      </div>

      <div class="row">
        <div class="col-xl-3 col-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="card-img-actions d-inline-block mb-3">
                <img class="img-fluid rounded-circle" src="../../../../assets/images/user.png" width="170"
                  height="170" alt="">
                <div class="card-img-actions-overlay card-img rounded-circle" routerLink='/profile/detail'>
                </div>
              </div>
              <h6 class="font-weight-semibold mb-0">Firstname Lastname</h6>
              <span class="d-block text-muted">username</span>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="card-img-actions d-inline-block mb-3">
                <img class="img-fluid rounded-circle" src="../../../../assets/images/user.png" width="170"
                  height="170" alt="">
                <div class="card-img-actions-overlay card-img rounded-circle" routerLink='/profile/detail'>
                </div>
              </div>
              <h6 class="font-weight-semibold mb-0">Firstname Lastname</h6>
              <span class="d-block text-muted">username</span>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="card-img-actions d-inline-block mb-3">
                <img class="img-fluid rounded-circle" src="../../../../assets/images/user.png" width="170"
                  height="170" alt="">
                <div class="card-img-actions-overlay card-img rounded-circle" routerLink='/profile/detail'>
                </div>
              </div>
              <h6 class="font-weight-semibold mb-0">Firstname Lastname</h6>
              <span class="d-block text-muted">username</span>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="card-img-actions d-inline-block mb-3">
                <img class="img-fluid rounded-circle" src="../../../../assets/images/user.png" width="170"
                  height="170" alt="">
                <div class="card-img-actions-overlay card-img rounded-circle" routerLink='/profile/detail'>

                </div>
              </div>

              <h6 class="font-weight-semibold mb-0">Firstname Lastname</h6>
              <span class="d-block text-muted">username</span>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




<ng-template #content1 let-modal p>
  <div class="modal-header bg-blue justify-content-center">
    <h3 class="modal-title m-0">Set Standard Email</h3>
  </div>
  <div class="modal-body justify-content-center  text-center px-md-4">
    <div class="mb-3"><i class="fas fa-exclamation-circle fa-2x text-primary"></i></div>
    <span class="font-weight-semibold">The standard email will be changed from bruce@wayne.com to <br>
      batman79@mail.com. <br>
      The old standard email takes the place of Email #2</span>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">Close</button>
    <button type="button" aria-label="Close" class="btn btn-primary ml-md-2"
     (click)="modal.dismiss('Cross click')">Set standard email</button>
  </div>
</ng-template>
