<div class="content">
  <div class="row">
    <div class="col-lg-3 w-md-100 mb-3 text-center">
      <h2 class="">Username</h2>
      <div class="profile-img d-inline-block">
        <img src="../../../../assets/images/user.png" class="" alt="">
      </div>
      <div class="d-flex justify-content-center align-items-center mt-2">
        <div class="uniform-uploader justify-content-center align-items-center">
          <input type="file" class="form-input-styled" data-fouc="">
          <span class="action btn bg-primary rounded" style="user-select: none;">Choose File</span>
        </div>
        <a href="javascript:void:(0)"><i class="fas fa-trash ml-3 text-primary"></i></a>
      </div>

      <div class="form-group text-left">
        <label class="col-form-label pb-0 font-weight-semibold">Status</label>
        <div class="text-success font-weight-bold">Verified <i class="fas fa-check"></i></div>
        <div class="text-left">
          <label class="col-form-label pb-0 font-weight-semibold">Verification date</label>
          <div class="">12-12-2002</div>
        </div>
        <div class="text-left">
          <label class="col-form-label pb-0 font-weight-semibold">Standard Email</label>
          <div class="">bruce@weyn.com</div>
        </div>
        <div class="row">
          <div class="col-md-8 mt-md-3">
            <button type="submit" class="btn bg-blue-400 btn-block mb-3" (click)="open1(content1)">Reset
              Password</button>
          </div>
          <div class="col-md-8">
            <button type="submit" class="btn  btn-block mb-3"
             [class.btn-warning]="Userstatus === 'Deactivate'"
             [class.bg-blue-400]="Userstatus === 'Activate'"
             (click)="open2(content2)">{{Userstatus}} user </button>
          </div>
          <div class="col-md-8">
            <button type="submit" class="btn btn-danger bg-danger-800 btn-block" (click)="open3(content3)">Delete
              User</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 w-md-100">
      <form action="#" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group row text-left">
          <div class="custom-control pl-1 custom-control-right custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input green-input" id="custom_checkbox_inline_right_checked">
            <label class="custom-control-label position-static text-blue-4000 font-weight-bold"
              for="custom_checkbox_inline_right_checked">Is Main Account</label>
          </div>
        </div>
        <div class="form-group text-left row">
          <label class="col-lg-2 col-form-label font-weight-semibold">Gender</label>
          <div class="col-lg-8">
            <div class="form-group mb-3 mb-md-2">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input"
                  id="custom_radio_inline_unchecked-9"  formControlName="gender" checked="" [value]="'male'">
                <label class="custom-control-label text-dark" for="custom_radio_inline_unchecked-9">Male</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input"
                  id="custom_radio_inline_checked-1"  formControlName="gender" [value]="'female'">
                <label class="custom-control-label text-dark" for="custom_radio_inline_checked-1">Female</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">First Name</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" formControlName="firstName" placeholder="Enter your First Name" required>
            <errors [control]="f.firstName" [isSubmit]="isSubmit"></errors>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Last Name</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" formControlName="lastName"  required   placeholder="Enter your Last Name">
            <errors [control]="f.lastName" [isSubmit]="isSubmit"></errors>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Day of Birth</label>
          <div class="col-lg-2 mb-2">
            <ng-select class="custom" formControlName="dobdd" [items]="day" bindLabel="name" placeholder="DD"></ng-select>
            <errors [control]="f.dobdd" [isSubmit]="isSubmit"></errors>
          </div>
          <div class="col-lg-2 mb-2">
            <ng-select class="custom" formControlName="dobmm" [items]="month" bindLabel="name" placeholder="MM"></ng-select>
            <errors [control]="f.dobmm" [isSubmit]="isSubmit"></errors>
          </div>
          <div class="col-lg-2 mb-2">
            <ng-select class="custom" formControlName="dobyy" [items]="year" bindLabel="name" placeholder="YYYY"></ng-select>
            <errors [control]="f.dobyy" [isSubmit]="isSubmit"></errors>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Address</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" formControlName="address"  required placeholder="Enter Street + Number">
            <errors [control]="f.address" [isSubmit]="isSubmit"></errors>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Zip Code</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" formControlName="zipCode" required placeholder="Enter Zip Code">
            <errors [control]="f.zipCode" [isSubmit]="isSubmit"></errors>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">City</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" formControlName="city" required placeholder="Enter City">
            <errors [control]="f.zipCode" [isSubmit]="isSubmit"></errors>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Country</label>
          <div class="col-lg-8">
            <ng-select class="custom" [items]="countries" formControlName="country" required bindLabel="name" placeholder="Please Choose">
            </ng-select>
            <errors [control]="f.country" [isSubmit]="isSubmit"></errors>
          </div>
        </div>
        <div class="form-group row text-left">
          <label class="col-lg-2 col-form-label font-weight-semibold">Phone #</label>
          <div class="col-lg-8">
            <!-- <input type="number" name="tel" class="form-control" formControlName="Phonenumber" required placeholder="+99-99-9999-9999"
              data-mask="+99-99-9999-9999"> -->

              <ngx-intl-tel-input [cssClass]="'custom'"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Austria"
              [maxLength]="15"
              [tooltipField]="TooltipLabel.Name"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              name="Phonenumber"
              formControlName="Phonenumber">

              </ngx-intl-tel-input>

              <errors [control]="f.Phonenumber" [isSubmit]="isSubmit"></errors>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-dark mr-3 mb-3" [routerLink]="['/admin/users/detail']">Cancel</button>
      <button type="submit"  class="btn bg-green-400 mb-3"  (click)="onSubmit()">Save</button>
    </div>
  </div>
</div>




<ng-template #content1 let-modal p>
  <div class="modal-header bg-blue justify-content-center">
    <h3 class="modal-title m-0">Reset Password</h3>
  </div>
  <div class="modal-body justify-content-center  text-center px-md-4">
    <div class="mb-3"><i class="icon-unlocked icon-2x text-primary"></i></div>
    <span class="font-weight-semibold">The user will receive an Email with a Password recovery link!</span>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" aria-label="Close" class="btn bg-blue-400 ml-md-2" (click)="modal.dismiss('Cross click')">Reset
      Password</button>
  </div>
</ng-template>
<ng-template #content2 let-modal p>
  <div class="modal-header  justify-content-center" [class.bg-warning]="Userstatus === 'Deactivate'"
  [class.bg-blue-400]="Userstatus === 'Activate'" >
    <h3 class="modal-title m-0">{{Userstatus}} User</h3>
  </div>
  <div class="modal-body row justify-content-center  text-center px-md-4">
    <div class="mb-3 col-md-12"><i class="fas fa-exclamation-circle fa-2x text-warning mb-2"></i>
      <span class="font-weight-semibold d-block">The user won't be able to login to his account and won't be able to use
        any service!
        Are you sure you want to deactivate the user's account?</span>
    </div>
    <div class="col-lg-8">
      <ng-select class="custom" [items]="Reasons" bindLabel="name"   placeholder="Please choose a reason for deactivation">
      </ng-select>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">Cancel</button>
    <button type="button" aria-label="Close" class="btn  ml-md-2"
    [class.btn-warning]="Userstatus === 'Deactivate'"
    [class.bg-blue-400]="Userstatus === 'Activate'"
      (click)="ChangeStatue();modal.dismiss('Cross click')">{{Userstatus}}  </button>
  </div>
</ng-template>
<ng-template #content3 let-modal p>
  <div class="modal-header bg-danger-800 justify-content-center">
    <h3 class="modal-title m-0">Delete User</h3>
  </div>
  <div class="modal-body justify-content-center  text-center px-md-4">
    <div class="mb-3"><i class="icon-cancel-circle2 icon-2x text-danger-800"></i></div>
    <span class="font-weight-semibold">The user's account and all connected data will be deleted! <br>
      Linked accounts will be automatically deativated! <br>
      Are you sure you want to delete this user?
    </span>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">cancel</button>
    <button type="button" aria-label="Close" class="btn btn-danger bg-danger-800 px-md-4 ml-md-2"
      (click)="modal.dismiss('Cross click')">Delete</button>
  </div>
</ng-template>
<ng-template #content4 let-modal p>
  <div class="modal-header bg-blue justify-content-center">
    <h3 class="modal-title m-0">Activate User</h3>
  </div>
  <div class="modal-body justify-content-center  text-center px-md-4">
    <div class="mb-3"><i class="fas fa-exclamation-circle fa-2x text-primary"></i></div>
    <span class="font-weight-semibold">The user will able to login to his account and he will be able to use all
      services
      again! <br>
      Are you sure you want to activate the user's account?</span>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" aria-label="Close" class="btn btn-dark px-md-4"
      (click)="modal.dismiss('Cross click')">Close</button>
    <button type="button" aria-label="Close" class="btn bg-blue-400 ml-md-2"
      (click)="modal.dismiss('Cross click')">Activate</button>
  </div>
</ng-template>
