.bg-primary-400 {
    color: #333 !important;
  }

  #typeahead-scrollable ::ng-deep.dropdown-menu.show {
    max-height: 150px !important; 
    overflow-y: scroll !important;
  }
  
  .bg-return {
    background-color: #00F2F2 !important;
    color: #333 !important;
  }
  .filter-show{
    display: block !important;
  }
  .bg-return:hover {
    background-color: #1af0f0 !important;
  }
  ::ng-deep .dateRangePicker-wrapper .form-group {
    margin-bottom: 0;
  }
  ::ng-deep .custom-pagination ul {
    justify-content: center !important;
  }
  
  .modal-header {
    justify-content: center !important;
  }
  
  .img-modal {
    width: 265px;
    height: 250px;
  }
  
  .card-img-actions img {
    height: 250px;
    width: 100%;
  }

  
  ul li {
    padding: 0 6px 0 0;
    list-style: none;
  }
  
  .modal-header {
    justify-content: center !important;
  }
  
  .action-blue {
    background: #09a1ce;
    color: white;
  }
  
  .red:hover {
    background: #cf2a27;
    color: white;
  }
  
  .greyblue:hover {
    background: #83aaca;
    color: white;
  }
  
  .orange:hover {
    background: #e69138;
    color: white;
  }
  
  .dropdown-menu {
    min-width: 6rem !important;
  }
  
  .border-bottom {
    border-bottom: 2px solid #29b6f6 !important;
  }
  
  ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    background-color: #09a1ce !important;
    border-radius: .1875rem !important;
    border: 1px solid #09a1ce !important;
    box-shadow: none !important;
    margin-bottom: 3px !important;
  }
  
  ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important
  }
  ::ng-deep .multiselect-dropdown .dropdown-btn {
    padding: 6px 6px 3px 6px !important;
  }
  ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-up {
    border-bottom: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important
  }
  ::ng-deep .dateRangePicker-wrapper .dateRangePicker .form-inputs {
    background-color: #09a1ce !important;
  }
  
  ::ng-deep .dateRangePicker-wrapper .dateRangePicker:after {
    border-bottom: 10px solid #09a1ce !important;
  }
  
  ::ng-deep .dateRangePicker-wrapper .dateRangePicker:before {
    border-bottom: 10px solid #09a1ce !important;
  }
  
  ::ng-deep .calendar .table td:not(.disabled):not(.selected):hover {
    background-color: #09a1ce !important;
  }
  
  ::ng-deep .calendar .table td.selected, .calendar .table td.selected.in-selected-range {
    background-color: #09a1ce !important;
  }
  
  ::ng-deep .calendar .table td.different-month {
    color: #273237 !important;
  }
  
  ::ng-deep .btn-outline-secondary {
    background-color: #273237 !important;
    border-color: #273237 !important;
    color: #fff !important;
  }
  .qr-img {
    height: 135px;
    width: 150px;
  }
  .five-img,.five-img-1 img {
    height: 100%;
  }
  .five-img {
    height: 240px;
  }
  .five-img-1 {
    height: 290px;
  }
  .return-ul li{
    padding-right: 20px;
  }
  .w-20{
    width: 20%;
  }
  
  .custom-size{
    font-size: 15px;
  
  }

  .custom-size-note {
    font-size: .72rem !important;
  }
  .badge{
    /* border: 1px solid hsl(0, 0%, 0%); */
    font-size: 12px;
    border-radius: 5px;
  }
  .pl-mid-85{
    padding-left: 12rem !important;
  }
  .h-230{
    height: 230px !important;
  }
  
  @media only screen and (max-width:1200px) {
  .d-none{
    display: block !important;
  }
  .d-md-block{
    display: block !important
  }
  .pl-mid-85{
    padding-left: 85px !important;
  }
  .d-md-none{
    display: none !important
  }
  ul li {
    padding: 0 0px 0 0;
    list-style: none;
    margin-bottom: 5px !important;
  }
  
  .five-img,.five-img-1 img {
    height: 100%;
  }
  .five-img {
    height: auto;
  }
  .five-img-1 {
    height: auto;
  }
  .flexstart{
    justify-content: flex-start !important;
  }
  .filter-show{
    display: block !important;
  }
  .text-md-center{
    text-align: left !important;
  }
  .w-md-500 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .d-md-block{
    display: block !important;
  }
  .d-md-none{
    display: none !important;
  }
  .col-72{
    flex: 0 0 47% !important;
    max-width: 47% !important;
  }
  .col-28{
    flex: 0 0 28% !important;
    max-width: 28% !important;
  }
  .pr-md-5{
    padding-right: 14px !important;
  }
  .mx-md-5{
    margin-left: 0px !important;
    margin-right: 63px !important;
  }
  .js-center{
    justify-content: center !important;
  }
  .px-md-2{
    padding: 0 !important;
  }
  .align-mid-baseline{
    align-items: baseline !important;
  }
  .ml-md-4{
    margin-left: 0rem!important;
  }
  .pl-mid-0{
      padding-left: 0 !important;
  }
  .w-20{
    width: 35% !important;
  }
  .w-mid-33{
    flex: 0 0 18% !important;
    max-width: 18% !important;
  }
  .d-mid-none{
    display: none !important;
  }
  .d-mid-block{
    display: block !important;
  }
  .d-md-flex{
    display: flex !important;
  }
  .w-md-111{
    flex: 0 0 70% !important;
      max-width: 70% !important;
  }
  .h-230{
    height: auto !important;
  }
  .p0{
    padding: 0 6px 0 0 !important;
  }
  .ml-mid-0{
    margin-left: 0 !important;
  }
  .mb-15{
    margin-bottom: 1rem;
  }
  .pl-7{
    padding-left: 22px !important;
  }
  }
  @media only screen and (max-width:992px) {
    .w-mid-33{
      flex: 0 0 30% !important;
      max-width: 30% !important;
    }
    .col-72{
      flex: 0 0 72% !important;
      max-width: 72% !important;
    }
    .pl-7{
      padding-left: 10px !important;
    }
  }
  @media only screen and (max-width:767px) {
    .d-md-flex{
      display: block !important;
    }
    .mb-15{
      margin-bottom: 1rem;
    }
    .col-72{
      flex: 0 0 72% !important;
      max-width: 72% !important;
    }
    .h-230{
      height: auto !important;
    }
    .p0{
      padding: 0px !important;
    }
    .w-md-111{
      flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .px-20{
      padding: 0px !important;
    }
    .btn {
      padding: .2rem .2rem;
    }
    .px-md-2{
      padding: 5px !important;
    }
    .js-center{
      justify-content: flex-start !important;
    }
    .col-72{
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
    .pl-mid-85{
      padding-left: 10px !important;
    }
    .col-28{
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
    .pr-md-5{
      padding-right: 0px !important;
    }
    .d-md-block{
      display: none !important;
    }
    .d-md-none{
      display: block !important;
    }
    .container {
      padding: 0;
    }
    .return-ul li{
      padding-right: 10px;
      margin-bottom: 10px;
    }
    .w-20{
      width: 50% !important;
    }
    .d-md-flex li{
      margin-bottom: 8px;
    }
    .card-body .text-dark{
      font-size: 11px;
    }
    .hd2{
      font-size: 1rem !important;
    }
    .font-sm{
      font-size: 12px !important;
    }
    .d-flex{
      display: flex !important;
    }
    .li-content{
      padding: 0px 14px !important;
    }
    .collapse:not(.show) {
      display: none !important;
  }
  .collapse .show {
    display: block !important;
  }
  
  
  }
  
  @media only screen and (max-width:766px) {
    .w-custom{
      width: 60%;
    }
  }
  @media only screen and (max-width:600px) {
    .w-custom{
      width: 60%;
    }
  }
  @media only screen and (max-width:575px) {
    .w-custom{
      width: 70%;
    }
  }
  @media only screen and (max-width:515px) {
    .w-custom{
      width: 80%;
    }
  }
  @media only screen and (max-width:460px) {
    .w-custom{
      width: 100%;
    }
  }
  
  